@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Urbanist:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Urbanist', 'Moon Dance', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
